.border-1 {
  /* border-width: 2px;
  border-style: solid;
  border-color: darkred; */
  border: 2px solid darkred;
  border-radius: 5px;
}

/* bottom,top,right,left */
.border-2 {
  border-bottom: 2px solid darkblue;
  border-right: 6px solid green;

  border-bottom-left-radius: 10px;
}

.border-3 {
  border-left: 6px solid darkviolet;
  background: lightsalmon;
  padding-left: 10px;
  color: brown;
}
